* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-detectable=false
*.php linguist-detectable=true
*.blade linguist-detectable=false
CHANGELOG.md export-ignore
